* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  cursor: default;
  background: #212121;
  color: #ffcc00;
  position: relative;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}
