* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    cursor: default;
    background: #212121;
    color: #ffcc00;
    position: relative;
}

header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    z-index: 1;
}

main {
    padding: 80px 20px;
    height: 100vh;
}
main .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content {
    text-align: center;
}

.speed {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}
.speed .number {
    font-size: 80px;
    font-weight: bold;
}
.speed .unit {
    font-size: 24px;
}

footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

/*-----------*/

.progress-ring {

}
.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
/*// axis compensation*/
    transform: rotate(135deg);
    transform-origin: 50% 50%;
}

.range {

}

input {
    width: 100%;
    height: 32px;
}